:root{
	--nav-color: #A9AFAF;
	--body-color: #D9DFDF;
	--main-color: #F0EADA;
	--link-color: #DDD4C5;
	--nav-link-color: #F5F8F1;
}

*{
	box-sizing: border-box;
}
body{
	margin:0;
	background-color:var(--body-color);
}
main{
	width:90%;
	margin:0 auto;
	background-color: var(--main-color);
	padding-bottom:10px;
	
}
/*navigation start*/
nav{
	width:100%;
	height:25px;
	margin:0 auto;
	background-color: var(--nav-color);
	position:fixed;
	top:0;
	z-index: 99;
}
nav li{
	display:inline-block;
	height:25px;
	width:20%;
}
nav ul{
	margin:0 auto;
	width:100%;
	text-align: center;
	padding:0px;
	height:25px;
}
nav a{
	display:block;
	line-height: 25px;
	transition: .5s;
	cursor: pointer;
	color: var(--body-color);
}
nav a:link,nav a:visited{
	text-decoration: none;
	color: var(--body-color);
}
nav a:hover{
	background-color:var(--main-color);
	color: var(--nav-color);
}
#nav-expand{
	display:none;
}
ul span{
	display: inline-block;
	height:25px;
}
#progressBar {
	height: 8px;
	width:0%;
	background-color: green;
}

/*navigation end*/
/*about start*/
.fa-github{
	font-size: 300%;
	line-height: 0.3;
}
#about{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"img about";
	text-align: center;
	margin:0 auto;
	padding-top:50px;
	padding-bottom: 50px;
	background-color:var(--body-color);
}
#about img{
	grid-area: img;
	border-radius: 5px;
	margin:0 auto;
	max-width: 50%;
	height: auto;
}
#about .imgOverlay{
	grid-area: img;
	opacity:0;
	background-color: var(--body-color);
	transition: .5s;
	width:51%;
	border-radius: 5px;
	margin:0 auto;
	z-index: 10;
}
#about .imgOverlay:hover{
	opacity:1;
}
#about a{
	position:relative;
	top:45%;
}
#about p{
	grid-area: about;
}
#about i:hover{
	color:blue;
}
/*about end*/
/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--nav-color);
    color: var(--main-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*tooltip end*/
#projects i{
	padding:0 10px 0 10px;
	color: var(--nav-color);
}

/*footer start*/
footer{
	text-align: center;
	background-color: var(--nav-color);
}

/*footer end*/
/*grid placement*/

#projects{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"img1 img1 des1"
		"img1 img1 link1"
		"end1 end1 end1"
		"des2 img2 img2"
		"link2 img2 img2"
		"end2 end2 end2"
		"img3 img3 des3"
		"img3 img3 link3"
		"end3 end3 end3"
		"des4 img4 img4"
		"link4 img4 img4"
		"end4 end4 end4"
		"img5 img5 des5"
		"img5 img5 link5"
		"end5 end5 end5"
		"des6 img6 img6"
		"link6 img6 img6"
		;
		grid-row-gap: 20px;
		align-items: center;
		text-align: center;
		vertical-align: middle;
}
.end1,.end2,.end3,.end4,.end5{
	height:5px;
	background-color: var(--body-color);
}
.end1{
	grid-area: end1;
}
.end2{
	grid-area: end2;
}
.end3{
	grid-area: end3;
}
.end4{
	grid-area: end4;
}
.end5{
	grid-area: end5;
}
#projects{
	padding-top:25px;
}
#projects a{
	display:inline-block;
	transition: all 1s ease-in-out;
	border: 1px solid;
	border-color: var(--body-color);
	height:50%;
	width:101%;
	background-color: var(--body-color);
	
}
#projects a:link, #projects a:visited{
	color:black;
	
}
#projects p{
	font-size:1.2em;
	
}
#projects a:hover{
	height:100%;
}

a p{
	position: relative;
	margin:0;
	top: 50%;
	transform: translateY(-50%);
}
#projects img{
	width:100%;
	position:relative;
	margin-top: 25px;
}
.img1{
	grid-area: img1;
	right:40px;
	box-shadow: -10px 2px 10px #A9AFAF;
	
}
.des1{
	grid-area: des1;
	
}
.link1{
	grid-area: link1;
}

.img2{
	grid-area: img2;
	left:40px;
	box-shadow: 10px 2px 10px #A9AFAF;
}
.des2{
	grid-area: des2;
}
.link2{
	grid-area: link2;
}

.img3{
	grid-area: img3;
	right:40px;
	box-shadow: -10px 2px 10px #A9AFAF;
}
.des3{
	grid-area: des3;
}
.link3{
	grid-area: link3;
}

.img4{
	grid-area: img4;
	left:40px;
	box-shadow: 10px 2px 10px #A9AFAF;
}
.des4{
	grid-area: des4;
}
.link4{
	grid-area: link4;
}

.img5{
	grid-area: img5;
	right:40px;
	box-shadow: -10px 2px 10px #A9AFAF;
}
.des5{
	grid-area: des5;
}
.link5{
	grid-area: link5;
}

.img6{
	grid-area: img6;
	left:40px;
	box-shadow: 10px 2px 10px #A9AFAF;
}
.des6{
	grid-area: des6;
}
.link6{
	grid-area: link6;
}



/*grid placement ends*/
.practice-about{
	padding: 100px;
}
@media only screen and (max-width: 900px){
	main{
		width:100%;
	}
	#projects{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"des1 link1"
			"img1 img1"
			"des2 link2"
			"img2 img2"
			"des3 link3"
			"img3 img3"
			"des4 link4"
			"img4 img4"
			"des5 link5"
			"img5 img5"
			"des6 link6"
			"img6 img6"
			;	
	}
	.img1{
		right:0px;
		box-shadow: none;
		width:80%;
	}
	.img2{
		left:0px;
		box-shadow: none;
	}
	.img3{
		right:0px;
		box-shadow: none;
	}
	.img4{
		left:0px;
		box-shadow: none;
	}
	.img5{
		right:0px;
		box-shadow: none;
	}
	.img6{
		left:0px;
		box-shadow: none;
	}
	#about{
		width:100%;
		grid-template-areas: 
		"img"
		"about";
		grid-template-columns: 1fr;
	}
	#about img{
		max-width: 20%;
	}
	.divider{
		padding-bottom: 50px;
		background-color: var(--body-color);
		border-bottom: 1px solid var(--nav-color);
	}
	#projects img{
		width:100%;
		position:relative;
		margin-top:0;
	}
	#projects a{
		height: 100%;
	}
	#projects a:hover{
		height: 200%;
	}
	#projects img{
		border-bottom: 1px solid black;
	}
	nav ul{
		width: 100%;
	}
}
@media only screen and (max-width: 600px){
	#progressBar{
		position: relative;
		top:25px;
	}
	nav{
		height:25px;
		
	}
	nav li{
		display:block;
		width: 100%;
	}
	nav ul{
		display:none;
		height:25px;
		position: relative;
		top: 25px;
	}
	#nav-expand{
		display: inline-block;
		z-index:999;
		position: fixed;
		right:0;
		top:0;
		border:none;
		height: 25px;
		width: 100px;
		background-color: var(--nav-color);
		font-size: 1.1em;
		font-weight: bolder;
		cursor: pointer;
	}
	.expand{
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-name: expand;
	}
	.block{
		display: block;
		height: 125px;
	}
	.shrink{
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-name: shrink;
	}
}