:root{
	--nav-color: #A9AFAF;
	--body-color: rgb(217, 223, 223);
	--main-color: rgb(240, 234, 218);
	--link-color: #DDD4C5;
	--nav-link-color: #F5F8F1;
}

*{
	box-sizing: border-box;
}
body{
	margin:0;
	background-color:var(--body-color);
}
main{
	width:90%;
	margin:0 auto;
	background-color: var(--main-color);
	padding-bottom:10px;
	
}
/*navigation start*/
nav{
	width:100%;
	height:25px;
	margin:0 auto;
	background-color: var(--nav-color);
	position:fixed;
	top:0;
	z-index: 99;
}
nav li{
	display:inline-block;
	height:25px;
	width:20%;
}
nav ul{
	margin:0 auto;
	width:100%;
	text-align: center;
	padding:0px;
	height:25px;
}
nav a{
	display:block;
	line-height: 25px;
	transition: .5s;
	cursor: pointer;
	color: var(--body-color);
}
nav a:link,nav a:visited{
	text-decoration: none;
	color: var(--body-color);
}
nav a:hover{
	background-color:var(--main-color);
	color: var(--nav-color);
}
#nav-expand{
	display:none;
}
ul span{
	display: inline-block;
	height:25px;
}
#progressBar {
	height: 8px;
	width:0%;
	background-color: rgb(240, 234, 218);
}
/*projects start*/
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.grid-item{
	position: relative;
}
.grid-item img{
	max-width: 100%;
}
.grid-overlay{
	display: block;
	height: 0%;
	width: 100%;
	background-color: rgb(240, 234, 218,0.9);
	position: absolute;
	bottom:0;
	opacity:0;
	padding: 10px 10px 10px 0;
	transition: all 0.5s ease-in;
	z-index:5;
}
.grid-overlay-button{
	position: absolute;
	padding:0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	border: none;
	background-color: var(--body-color);
	transition: all 0.5s ease-in;
}
.grid-overlay-button:hover{
	border: none;
	box-shadow:
		0 0 7px 7px var(--main-color) inset,
		0 0 15px 15px var(--nav-color) inset;
}
.grid-overlay-button a{
	display: block;
	width:100%;
	height:100%;
	padding:15px 0 15px 0;
}
.grid-item:hover .grid-overlay{
	opacity: 1;
	height: 100%;
}
/*projects end*/	
/*navigation end*/
/*about start*/
.fa-github{
	font-size: 300%;
	line-height: 0.3;
}
#about{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"img about";
	text-align: center;
	margin:0 auto;
	padding-top:50px;
	padding-bottom: 50px;
	background-color:var(--body-color);
}
#about img{
	grid-area: img;
	border-radius: 5px;
	margin:0 auto;
	max-width: 50%;
	height: auto;
}
#about .imgOverlay{
	grid-area: img;
	opacity:0;
	background-color: var(--body-color);
	transition: .5s;
	width:51%;
	border-radius: 5px;
	margin:0 auto;
	z-index: 10;
}
#about .imgOverlay:hover{
	opacity:1;
}
#about a{
	position:relative;
	top:45%;
}
#about p{
	grid-area: about;
}
#about i:hover{
	color:blue;
}
/*about end*/
/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--nav-color);
    color: var(--main-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*tooltip end*/

/*footer start*/
footer{
	text-align: center;
	background-color: var(--nav-color);
}

/*footer end*/
/*grid placement*/



/*grid placement ends*/
.practice-about{
	padding: 100px;
}
@media only screen and (max-width: 900px){
	main{
		width:100%;
	}
	#about{
		width:100%;
		grid-template-areas: 
		"img"
		"about";
		grid-template-columns: 1fr;
	}
	#about img{
		max-width: 20%;
	}
	nav ul{
		width: 100%;
	}
}
@media only screen and (max-width: 600px){
	#progressBar{
		position: relative;
		top:25px;
	}
	nav{
		height:25px;
		
	}
	nav li{
		display:block;
		width: 100%;
	}
	nav ul{
		display:none;
		height:25px;
		position: relative;
		top: 25px;
	}
	#nav-expand{
		display: inline-block;
		z-index:999;
		position: fixed;
		right:0;
		top:0;
		border:none;
		height: 25px;
		width: 100px;
		background-color: var(--nav-color);
		font-size: 1.1em;
		font-weight: bolder;
		cursor: pointer;
	}
	.expand{
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-name: expand;
	}
	.block{
		display: block;
		height: 125px;
	}
	.shrink{
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-name: shrink;
	}
}