:root{
    --login-button-color: #4FB98E ;
    --logout-button-color: #ED553B;
    --main-bg-color: ;
    --list-bg-color: #F2B134;
}
body{
    margin:0;
    background-color: rgba(219,217,209,0.2);
}
*{
    box-sizing: border-box;
}
.center{
    text-align: center;
}
.key{
    display: none;
}
.button{
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 25px;
}
.login--button{
    background-color: var(--login-button-color);
}
.login--button:hover{
    background-color: white;
    border-color: var(--login-button-color);
    color: var(--login-button-color);
}
.logout--button{
    background-color: var(--logout-button-color);
}
.logout--button:hover{
    background-color: white;
    border-color: var(--logout-button-color);
    color: var(--logout-button-color);
}
.post--button{
    background-color: var(--list-bg-color);
}
.post--button:hover{
    background-color: white;
    border-color: var(--list-bg-color);
    color: var(--list-bg-color);
}
.post--button:disabled{
    opacity: 0.5;
}
.input{
    padding: 5px 15px;;
    border-radius: 2px;
    border: 1px solid black;
}
.input:focus{
    border-color: var(--list-bg-color);
}
#login-container{
    display: block;
}
#logout-container{
    display: none;
}
.input-container{
    margin: 50px 0 50px 0;
    text-align: center;
}
.email-field, 
.text-field, 
.date-field{
    display: inline-block;
    padding: 5px 15px;
}
.date-field{
    float: right;
}
.email-field{
    min-width: 35%;
}
#list li{
    border-bottom: 1px solid var(--list-bg-color);
    margin-bottom: 3px;
}
.list-container{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(162,163,165,0.2);
    padding: 5px;
}
.remove{
    float:right;
}
.top-container{
    background-color: rgba(162,163,165,0.2);
    padding: 10px;
}
@media only screen and (max-width: 1000px){
    .list-container{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .email-field{
        display: none;
    }
}